body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}

#background {
    background: url('background.png') center/cover no-repeat fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) brightness(0.7);
    z-index: -1;
}

#content {
    z-index: 1;
}

.content-container {
    position: relative;
    z-index: 1;
}

h1,
#avatar,
#bio,
.link {
    color: #fff;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#bio {
    font-size: 14px;
    margin-bottom: 20px;
}

.content-container a.link {
    display: block;
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(52, 152, 219, 0.8);
    color: #fff;
    border-radius: 5px;
    width: auto; /* Set width to auto to adjust based on content */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}