body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}

#background {
    background: url('background.png') center/cover no-repeat fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) brightness(0.7);
    z-index: -1;
}

#content {
    z-index: 1;
}

.content-container {
    position: relative;
    z-index: 1;
}

h1,
#avatar,
#bio,
.link {
    color: #fff;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#bio {
    font-size: 14px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-container {
    position: relative;
    z-index: 1;
    width: 60%; /* Adjust the width as needed */
    max-width: 200px; /* Set a maximum width if desired */
    margin: 0 auto; /* Center the container horizontally */
}

.link {
    display: block;
    width: 80%; /* Make links fill the container width */
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin: 8px 0; /* Added margin for spacing between links */
}